{% extends "admin/base.html" %}

{% load staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'mathfield/katex/katex.min.css' %}"/>
{% endblock %}

{#% block extrahead %}
<script type="text/javascript" src="{% static 'mathfield/katex/katex.min.js' %}"></script>
<script type="text/javascript" src="{% static 'mathfield/js/mathfield.js' %}"></script>
{% endblock %#}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}